# ==========================================
# База данных проекта EntryPro (КРИТИЧНО)
# ==========================================
entrypro_data.db
entrypro_data.db-journal
*.db
*.db-journal

# ==========================================
# Временные файлы Python и кэш
# ==========================================
__pycache__/
*.py[codz]
*$py.class
*.so
.cache
.pytest_cache/
.ruff_cache/
.mypy_cache/

# ==========================================
# Сборка PyInstaller (при генерации в .exe)
# ==========================================
build/
dist/
*.manifest
*.spec

# ==========================================
# Виртуальные окружения (Если используешь venv)
# ==========================================
.env
.venv
env/
venv/
ENV/

# ==========================================
# Настройки сред разработки (IDE)
# ==========================================
.idea/
.vscode/
tempCodeRunnerFile.py
